.row {
    text-align: center
}

.oferta {
    text-align: center;
}

.border {
    border-radius: 50%;
}

.fa-adjust {
    border-radius: 50%;
    background-color: rgb(10, 122, 173);
    width: 15px;
    height: 14px;
    margin: 0 auto;
}

img {
    width: 256px;
    height: 256px;
}

img:hover {
    animation-name: animacja;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}

@keyframes animacja {
    from {
        width: 256px;
        height: 256px;
    }
    to {
        transform: scale(1.5);
    }
}

.img-animation {
    overflow: hidden;
}

.img-hover {
    overflow: hidden;
}

.center {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}